<div class="card">
  <div class="card-body">
    <h3 class="alert alert-info text-center">{{isInEditMode ? 'Update Product' : 'Add Product'}}</h3>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" #productName class="form-control" />
    </div>
    <div class="form-group">
      <label for="productCategory">Product Category</label>
      <input type="text" #productCategory class="form-control" />
    </div>
    <div class="form-group">
      <label for="productPrice">Product Price</label>
      <input type="text" #productPrice class="form-control" />
    </div>
    <div class="form-group">
      <label for="productQuantity">Product Quantity</label>
      <input type="text" #productQuantity class="form-control" />
    </div>
    <div class="form-group">
      <label for="productBrand">Product Brand</label>
      <input type="text" #productBrand class="form-control" />
    </div>
    <div class="form-group">
      <label for="productisAvaible">Product Avaible</label>
      <select type="text" #productisAvaible class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <button *ngIf="!isInEditMode" class="btn btn-block btn-primary" (click)="addProduct()">Add Product</button>
    <button *ngIf="isInEditMode" class="btn btn-block btn-info" (click)="onUpdateProduct()">Update Product</button>
  </div>
</div>
