<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- <p class="alert alert-info text-dark text-center">1-TODO CURD (I/O)</p>
      <app-todo-dashboard></app-todo-dashboard> -->
      <!-- <p class="alert alert-success text-dark text-center">2-POST CURD (I/O)</p>
       <app-post-dashboard></app-post-dashboard> -->
      <!-- <p class="alert alert-info text-dark text-center">3-EMPLOYEE CURD (I/O)</p>
       <app-employee-dashboard></app-employee-dashboard> -->
      <!-- <p class="alert alert-info text-dark text-center">4-Student CURD (I/O)</p>
       <app-student-dashboard></app-student-dashboard> -->
      <p class="alert alert-info text-dark text-center">5-Product CURD (I/O)</p>
      <app-product-dashboard></app-product-dashboard>
    </div>
  </div>
</div>
