<ul class="list-group" *ngIf="getTodos.length > 0; else noData">
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let todo of getTodos ; trackBy : trackByFun"
  >
    <strong>{{ todo.todoItem }}</strong>
    <div>
      <button mat-mini-fab color="primary" (click)="onEdit(todo)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="onRemoveTodo(todo.todoId)" class="ml-2">
        <mat-icon>delete</mat-icon>
      </button>
      <!-- <button mat-flat-button color="primary" class="mr-2">Edit</button>
      <button mat-flat-button color="warn" (click)="onRemoveTodo(todo.todoId)">Delete</button> -->
    </div>
  </li>
</ul>
<ng-template #noData>
  <p class="alert alert-success">No Todo Data...!</p>
</ng-template>
