<div class="table-responsive">
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>Sr no</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Conatct</th>
        <th>Is Active</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of getStudetnts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ std.name }}</td>
        <td>{{ std.lastname }}</td>
        <td>{{ std.email }}</td>
        <td>{{ std.contact }}</td>
        <td>
          <span
            class="badge"
            [ngClass]="{
              'badge-success': std.isActive,
              'badge-danger': !std.isActive
            }"
          >
            {{ std.isActive ? "Yes" : "No" }}
          </span>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="onEditStudent(std)">
            Edit
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            (click)="onRemoveStudent(std.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
